/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
}
